//not being used, someday would like to add styling to favorite button.

$body-bg: black;
$body-color: white;
$primary: #cf4e3a;
$secondary: #222222;


img {
  width: 100%;
}

body {
  font-family: Helvetica, sans-serif;
}

.favorite-false {
  background-color: $secondary;
  color: white;
}

.favorite-true {
  background-color: $primary;
  color: black;
}

@import '~bootstrap/scss/bootstrap.scss';

