$body-bg: black;
$body-color: white;
$primary: #cf4e3a;
$secondary: #222222;

img {
  width: 100%;
}

body {
  font-family: Helvetica, sans-serif;
}

.card {
  background-color: #222222;
}


@import '~bootstrap/scss/bootstrap.scss';